[Unit]
Description=Neonatal Jaundice Monitoring Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/sahan/jaundice_monitor/raspberry_monitor.py --camera 0
WorkingDirectory=/home/sahan/jaundice_monitor
StandardOutput=append:/home/sahan/jaundice_monitor/service.log
StandardError=append:/home/sahan/jaundice_monitor/service.log
Restart=always
User=sahan

[Install]
WantedBy=multi-user.target
